**/node_modules/
**/coverage/
**/dist/
**/.serverless
**/stats.json
**/yarn.lock
**/bun.lockb
**/pnpm-lock.yaml
**/yarn-error.log
**/*.lock
**/bin/
**/.terraform
.npmrc
.properties
**/.npmrc
.vscode/
**/build/
**/.eslintcache
**/.DS_Store
**/*.tfvars
**/package-lock.json
**/.env**
**/*.env
.env
localDevelopment/*.env
**/seed/
**/fromScratch/
**/*.tsbuildinfo
**/test.html